# Exercícios Casa

In [63]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jenif\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jenif\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (3.9.1.post1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\jenif\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jenif\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jenif\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\jenif\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [64]:
import pandas as pd
import numpy as np

In [65]:
np.random.seed(42)

In [66]:
categorias = ['Eletrônicos', 'Roupas', 'Alimentos', 'Livros', 'Brinquedos']
datas = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
num_registros = len(datas)

In [67]:
data = {
       'Data': np.random.choice(datas, num_registros),
       'Categoria': np.random.choice(categorias, num_registros),
       'Quantidade_Vendida': np.random.randint(1, 100, num_registros),
       'Preco_Unitario': np.round(np.random.uniform(10, 500, num_registros), 2)
   }
df = pd.DataFrame(data)
df['Valor_Total'] = df['Quantidade_Vendida'] * df['Preco_Unitario']

In [68]:
df.to_csv('dados_vendas.csv', index=False)

In [69]:
print(df)

          Data   Categoria  Quantidade_Vendida  Preco_Unitario  Valor_Total
0   2023-04-13      Roupas                  74           60.43      4471.82
1   2023-12-15   Alimentos                  83          272.88     22649.04
2   2023-09-28      Roupas                  17          195.62      3325.54
3   2023-04-17      Roupas                  85          233.93     19884.05
4   2023-03-13      Roupas                  78          305.94     23863.32
..         ...         ...                 ...             ...          ...
360 2023-10-07  Brinquedos                  66           12.49       824.34
361 2023-04-24  Brinquedos                  10          350.90      3509.00
362 2023-10-15  Brinquedos                   5           33.90       169.50
363 2023-12-08  Brinquedos                  74          270.98     20052.52
364 2023-05-31      Roupas                  97          481.44     46699.68

[365 rows x 5 columns]

In [70]:
df.head()

        Data  Categoria  Quantidade_Vendida  Preco_Unitario  Valor_Total
0 2023-04-13     Roupas                  74           60.43      4471.82
1 2023-12-15  Alimentos                  83          272.88     22649.04
2 2023-09-28     Roupas                  17          195.62      3325.54
3 2023-04-17     Roupas                  85          233.93     19884.05
4 2023-03-13     Roupas                  78          305.94     23863.32

In [71]:
df.info

<bound method DataFrame.info of           Data   Categoria  Quantidade_Vendida  Preco_Unitario  Valor_Total
0   2023-04-13      Roupas                  74           60.43      4471.82
1   2023-12-15   Alimentos                  83          272.88     22649.04
2   2023-09-28      Roupas                  17          195.62      3325.54
3   2023-04-17      Roupas                  85          233.93     19884.05
4   2023-03-13      Roupas                  78          305.94     23863.32
..         ...         ...                 ...             ...          ...
360 2023-10-07  Brinquedos                  66           12.49       824.34
361 2023-04-24  Brinquedos                  10          350.90      3509.00
362 2023-10-15  Brinquedos                   5           33.90       169.50
363 2023-12-08  Brinquedos                  74          270.98     20052.52
364 2023-05-31      Roupas                  97          481.44     46699.68

[365 rows x 5 columns]>

In [72]:
df.shape

(365, 5)

In [73]:
df.dtypes

Data                  datetime64[ns]
Categoria                     object
Quantidade_Vendida             int32
Preco_Unitario               float64
Valor_Total                  float64
dtype: object

In [74]:
df.head(5)

        Data  Categoria  Quantidade_Vendida  Preco_Unitario  Valor_Total
0 2023-04-13     Roupas                  74           60.43      4471.82
1 2023-12-15  Alimentos                  83          272.88     22649.04
2 2023-09-28     Roupas                  17          195.62      3325.54
3 2023-04-17     Roupas                  85          233.93     19884.05
4 2023-03-13     Roupas                  78          305.94     23863.32

In [75]:
eletronicos = df[df['Categoria'] == 'Eletrônicos']
print(eletronicos)

          Data    Categoria  Quantidade_Vendida  Preco_Unitario  Valor_Total
5   2023-07-08  Eletrônicos                  73          256.12     18696.76
6   2023-01-21  Eletrônicos                   1          274.53       274.53
7   2023-04-13  Eletrônicos                  51          248.32     12664.32
14  2023-06-01  Eletrônicos                  34          303.52     10319.68
18  2023-09-15  Eletrônicos                  39          121.40      4734.60
..         ...          ...                 ...             ...          ...
347 2023-09-10  Eletrônicos                  33          431.46     14238.18
349 2023-09-13  Eletrônicos                  27          201.67      5445.09
351 2023-05-08  Eletrônicos                  29          243.57      7063.53
353 2023-10-08  Eletrônicos                  57          427.57     24371.49
356 2023-02-27  Eletrônicos                  55          466.48     25656.40

[73 rows x 5 columns]

In [79]:
media_valor = df['Valor_Total']
media_valor.mean()

np.float64(13102.970520547946)

In [80]:
vendas_acima_1000 = df[df['Valor_Total'] > 1000]
print(vendas_acima_1000)

          Data   Categoria  Quantidade_Vendida  Preco_Unitario  Valor_Total
0   2023-04-13      Roupas                  74           60.43      4471.82
1   2023-12-15   Alimentos                  83          272.88     22649.04
2   2023-09-28      Roupas                  17          195.62      3325.54
3   2023-04-17      Roupas                  85          233.93     19884.05
4   2023-03-13      Roupas                  78          305.94     23863.32
..         ...         ...                 ...             ...          ...
358 2023-12-26  Brinquedos                  68          147.88     10055.84
359 2023-06-23   Alimentos                  86          133.80     11506.80
361 2023-04-24  Brinquedos                  10          350.90      3509.00
363 2023-12-08  Brinquedos                  74          270.98     20052.52
364 2023-05-31      Roupas                  97          481.44     46699.68

[330 rows x 5 columns]

In [81]:
df.head(20)

         Data    Categoria  Quantidade_Vendida  Preco_Unitario  Valor_Total
0  2023-04-13       Roupas                  74           60.43      4471.82
1  2023-12-15    Alimentos                  83          272.88     22649.04
2  2023-09-28       Roupas                  17          195.62      3325.54
3  2023-04-17       Roupas                  85          233.93     19884.05
4  2023-03-13       Roupas                  78          305.94     23863.32
5  2023-07-08  Eletrônicos                  73          256.12     18696.76
6  2023-01-21  Eletrônicos                   1          274.53       274.53
7  2023-04-13  Eletrônicos                  51          248.32     12664.32
8  2023-05-02    Alimentos                  45          210.39      9467.55
9  2023-08-03   Brinquedos                  77          388.22     29892.94
10 2023-11-27       Roupas                   4           15.98        63.92
11 2023-03-29       Roupas                  62          303.24     18800.88
12 2023-04-10    Alimentos                  65          287.10     18661.50
13 2023-12-26       Roupas                  32          360.93     11549.76
14 2023-06-01  Eletrônicos                  34          303.52     10319.68
15 2023-05-11   Brinquedos                  92          415.13     38191.96
16 2023-05-30       Livros                  95          479.95     45595.25
17 2023-11-05       Roupas                  72          177.84     12804.48
18 2023-09-15  Eletrônicos                  39          121.40      4734.60
19 2023-12-10       Livros                  26          217.56      5656.56

In [84]:
df.shape

(365, 5)

In [85]:
total_por_categoria = df.groupby('Categoria')['Valor_Total'].sum().reset_index()
print(total_por_categoria)

     Categoria  Valor_Total
0    Alimentos    742457.74
1   Brinquedos   1187964.04
2  Eletrônicos    897261.71
3       Livros    963685.46
4       Roupas    991215.29

In [86]:
media_quantidade_categoria = df.groupby('Categoria')['Quantidade_Vendida'].mean().reset_index()
print(media_quantidade_categoria)

     Categoria  Quantidade_Vendida
0    Alimentos           55.618182
1   Brinquedos           47.247191
2  Eletrônicos           46.780822
3       Livros           50.917808
4       Roupas           47.200000

In [91]:
plt.figure(figsize=(10, 6))
plt.bar(total_por_categoria['Categoria'], total_por_categoria['Valor_Total'], color='skyblue')
plt.xlabel('Categoria')
plt.ylabel('Valor Total de Vendas (R$)')
plt.title('Total de Vendas por Categoria')
plt.show()

NameError: name 'plt' is not defined